.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 35px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    left: 50%;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button-line {
    width: 30px;
    height: 2px;
    background: white;
}