.side-drawer {
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;  
    height: 100%;  
    width: 13em;
    z-index: 200;
    /* display: none; */
    display:flex;
    flex-direction: column;

}

.side-drawer a {
    font-size: 1.2rem;
    text-decoration: none;
    /* padding: 20px; */
    margin: auto;
}

.side-drawer a:hover,
.side-drawer a:active {
    color:orange
}



